{% extends 'base/base.html' %}

{% block content %}
    <h1>Детали улучшения {{ feature.id }}</h1>
    <h2>{{ feature.title }}</h2>
    <p>description: {{ feature.description }}
        <br>status: {{ feature.status }}
        <br>priority: {{ feature.priority }}
        <br>project: {{ feature.project }}
        <br>task: {{ feature.task }}
    </p>
    <a href="{% url 'quality_control:update_feature_request' feature.id %}">Изменить запрос на улучшение</a>
    <br>
    <a href="{% url 'quality_control:delete_feature_request' feature.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот запрос на улучшение?');">Удалить запрос на улучшение</a>
{% endblock %}